/* !Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap");

/*!Reset */
body {
  font-family: "Poppins", sans-serif;
}
html,
body {
  overflow-x: hidden;
}

/* !Slider/Carousel */
.carousel-item img {
  height: 80vh;
  object-fit: cover;
}
.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

@media (max-width: 768px) {
  .carousel-item h1 {
    font-size: 20px;
  }
  .carousel-item img {
    height: 584px;
    background: cover scroll center scroll;
  }
}
/* !End of Slider/Carousel */

/* !Cards */
.border-shadow {
  box-shadow: -5px 1px 11px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -5px 1px 11px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -5px 1px 11px 5px rgba(0, 0, 0, 0.5);
}

/* !Float Button */
.float-main {
  position: relative;
}
.float-button {
  position: absolute;
  top: 0;
  right: 10%;
  border-radius: 5px;
  box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.5);
}
/* !End of Float Button */
